.footer{
    background-color: $blue;
    color: white;
    padding: .5rem 0;
    text-align: center;
    
    &__text{
    display: block;
    margin-bottom: 1rem;
    font-weight: 200;
    
    @mixin atMed{
        display: inline-block;
        margin-bottom: 1rem;
        marign-right: 1.4rem;


        }
    }
}