body{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
  color: $orange;  
}

*{
    box-sizing: border-box;
}


.wrapper{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
    margin-left:auto; 
    margin-right: auto;
    
    &--small{
        max-width: 976px;
    }
    
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    
    &__b-margin{
        margin-bottom: 1rem;
        
        @mixin atSmall{
            margin-bottom: 3.875rem;
        }
    }
}

.pg-section{
    padding: 1.2rem 0;
    
    &--blue{
        background-color: $blue;
    }
    
    @mixin atMed{
        padding: 4.5rem 0;

    }
}


.margin-bottom-sm{
    margin-bottom: .5em;
}

.margin-bottom-lg{
    margin-bottom: 1.6em;
}


.section-title{
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    color: white;
    
    @mixin atSmall{
        font-size: 3.75rem;
    }
    
    strong {
        font-weight: 500;
    }
    
    &__icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;
        
        @mixin atSmall{
            margin-right:.5rem;
            margin-left: 0;
            display: inline-block;
            margin-bottom: 0;

        }
    }
}

.feature-block{
    color: white;
    position: relative;
    padding-bottom: 2.5rem;
    
    
    @mixin atSmall{
        padding-left: 94px;
    }
    
    &__title{
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;
        
        @mixin atSmall{
                margin-top: 1em;
                text-align: left;
                font-size: 1.875rem;
        }
    }
    
    &__icon{
        display: block;
        margin: 0 auto;
        @mixin atSmall{
            position: absolute;
            left: 0;     
        }
    }
}